#progress-bar {
  --scrollAmount: 0%;

  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  width: var(--scrollAmount);
  height: 4px;
  top: 0;
  position: fixed;
}

*{
  margin: auto;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman';
  font-weight: 1000;
  font-size: 1.2vw;
  letter-spacing: 2px;
}

header{
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #030f12;
  color: whitesmoke;
  width: 100%;
  max-height: max-content;
  min-height: 1em;
  text-transform: uppercase;
  z-index: 1;
}

.logo-section{
  width: 100%;
  margin-left: initial;
}

.logo-sec{
  margin-left: 0.8em;
  max-width: 35%;
  max-height: 100%;
}

.navigation-bar{
  width: 70%;
  flex-grow: 2%;
  margin-inline-end: initial;
}

a{
  color: gray;
  text-decoration: none;
}

header a,
footer a{
  color: whitesmoke;
  text-decoration: none;
}

ul{
  display: flex;
  flex-direction: row;
}

.nav-link:hover{
  color: Teal;
  font-size: 30px;
}

.container{
  display: grid;
  grid-template-columns: 100%;
  padding: 0px;
  padding-top: 1em;
  width: 100%;
}

section{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding:5% 0;
}

section div{
  width: 50%;
  margin: 0 auto;
}

section h1{
  text-align: center;
}

.cover-section{
  margin-top: 0px;
  padding: 0% 0% 0% 0%;
}

h1{
  padding-bottom: 30px;
  padding-left: 0.5em;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 0.3em;
}

h2{
  font-size: 2.8vw;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.title-text{
  width: 40%;
  text-align: center;
  color: black;
  margin: auto;
  padding: 0 20px;
  animation: fade-in 5s;
}


@keyframes fade-in {
  0%{
        opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.box-feature{
  width: 60%;
  max-height: auto;
  animation: fade-in 5s;
}

.box-feature .cover-image{
  animation: ease-in 5s;
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: auto;
  padding-bottom: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

img {
  vertical-align: middle;
  border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font: 400 21px "Brandson Grotesque", sans-serif;
    letter-spacing: 2px;
    color: Gray;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    text-align: justify;
}


body {
    font: 400 14px/1.5 "Quattrocento Sans", sans-serif;
    letter-spacing: 0;
}


.container {
  position: relative;
}

.text-underline{
position: relative;
margin-bottom: 40px;
}


.text-block {
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  bottom: 100px;
  right: 30px;
  background-color: white;
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}


.section-text h2{
  text-align: center;
}

.section-text p{
  text-align: justify;
  margin: auto 2.5em;
  line-height: 1.9em;
  font: 400 21px "Helvetica", serif;
}

.sample{
  flex-direction: column;
  background-color: inherit;
}

.featured{
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 5%;
  margin: 20px auto;
}

.work{
  width: 100%;
  color: black;
}

.work img{
  width: 300px;
  height: 450px;
  cursor: pointer;
  max-height: auto;
  border-radius: 15px;
  opacity: 0.8;
  filter: grayscale(100%);
}

.work img:hover{
  cursor: pointer;
  transform: translateY(-15px);
  transition: all ease 0.5s;
  opacity: 1;
  filter: grayscale(0%);
}
