body {
  border-top: 4px solid #37ba8a;
  margin: 0;
}

*{
  margin: auto;
}

body{
  display: flex;
  flex-direction: column;
  font-weight: 1000;
  font-size: 1.2vw;
  letter-spacing: 2px;
}

html{
  scroll-behavior: smooth;
}

.progress-bar {
  background: linear-gradient(to right, rgb(180, 60, 10) var(--scroll), transparent 0);
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  z-index: 1;
}

header{
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #030f12;
  color: whitesmoke;
  width: 100%;
  max-height: max-content;
  min-height: 1em;
  text-transform: uppercase;
  z-index: 1;
}

.logo-section{
  width: 100%;
  margin-left: initial;
}

.logo-sec{
  margin-left: 0.8em;
  max-width: 35%;
  max-height: 100%;
}

.navigation-bar{
  width: 70%;
  flex-grow: 2%;
  margin-inline-end: initial;
}

a{
  color: gray;
  text-decoration: none;
}

header a,
footer a{
  color: whitesmoke;
  text-decoration: none;
}

ul{
  display: flex;
  flex-direction: row;
}

.nav-link:hover{
  color: Teal;
  font-size: 20 px;
}

.container{
  display: grid;
  grid-template-columns: 100%;
  padding: 0px;
  padding-top: 1em;
  width: 100%;
}

section{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding:5% 0;
}

section div{
  width: 50%;
  margin: 0 auto;
}

section h1{
  text-align: center;
}

.cover-section{
  margin-top: 0px;
  padding: 0% 0% 0% 0%;
}

.title-text h1{
  font-family: Georgia, monospace;
  padding-bottom: 30px;
  padding-left: 0.5em;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 0.3em;
}

.title-text p{
  font-size: 1vw;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.title-text{
  width: 40%;
  text-align: center;
  color: black;
  margin: auto;
  padding: 0 20px;
  animation: fade-in 5s;
}

@keyframes fade-in {
  0%{
        opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.box-feature{
  width: 60%;
  max-height: auto;
  animation: fade-in 5s;
}

.box-feature .cover-image{
  animation: ease-in 5s;
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: auto;
  padding-bottom: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

img {
  vertical-align: middle;
  border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font: 400 21px "Brandson Grotesque", sans-serif;
    letter-spacing: 2px;
    color: Gray;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    text-align: justify;
}


body {
    font: 400 14px/1.5 "Quattrocento Sans", sans-serif;
    letter-spacing: 0;
}


.container {
  position: relative;
}


.text-block {
  align-items: right;
  width: 300px;
  height: 300px;
  position: relative ;
  top: 30px;
  left: -50px;
  background-color: white;
  color: black;
  padding: 50px;
}


.section-text h2{
  text-align: center;
}

.section-text p{
  margin: auto 2.5em;
  line-height: 1.9em;
}

.sample{
  flex-direction: column;
  background-color: inherit;
}

.featured{
  justify-content: center;
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 5%;
  margin: 30px auto;
}

.work{
  width: 100%;
  color: black;
}

.work img{
  width: 300px;
  height: 450px;
  cursor: pointer;
  max-height: auto;
  border-radius: 15px;
  opacity: 0.8;
  filter: grayscale(100%);
}

.work img:hover{
  cursor: pointer;
  transform: translateY(-15px);
  transition: all ease 0.5s;
  opacity: 1;
  filter: grayscale(0%);
}

.work figcaption{
  text-align: center;
  margin: 15px;
  font: 400 18px "Helvetica", serif;
}

.work figcaption a:hover{
    color: DarkSlateGrey;
    font-size: 20px;
}

.contact-section{
  width: 90%;
  background: black;
  color: ghostwhite;
  padding: 50px;
  margin-bottom:  50px;
}

.form-box{
  padding-top: 1em;
}

form .form-entry{
  display: block;
  padding: 0.8em 0;
}

.section-text h2{
  letter-spacing: 5px;
  padding-left: 40px;
}

.section-text p{
  text-align: left;
  font: 18px "Tahoma", serif;
}

form .txt-box{
  margin-top: 0.3em;
  width: 100%;
  padding: 0.7em 0;
  border-radius: 2px;
  border: 2px transparent;
}

form .btn{
  text-align: center;
  background-color: whitesmoke;
  color: black;
  padding: 9px 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 4px;
  border: 2px solid #eaeaea;
  box-shadow: 0px 0px 10px 1px #29393e;
}

.btn:hover{
  cursor: pointer;
  background: rgb(32, 32, 32);
  color: aliceblue;
}

.footer-section{
  display: flex;
  flex-direction: row-reverse;
  height: 3em;
  width: 100%;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-section div{
  margin-right: 2em;
}

.footer-section span{
  text-align: center;
  cursor: pointer;
}

.p-info{
  text-align: center;
}

@media all and (max-width:768px){
    section div{
      width: 80%;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .story-section,
    .samples,.contact-section,.featured{
      display: flex;
      flex-direction: column;
    }

    .featured{
      width: 80%;
      margin: 0 auto;
    }

    .section-text h2{
      text-align: center;
    }

    .section-text p{
      text-align: justify;
      margin-right: 10%;
      margin-left: 10%;
      font-size: 2vw;
    }

    .work{
      width: 80%;
    }
}
