
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

*{
  margin: auto;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman';
  font-weight: 1000;
  font-size: 1.2vw;
  letter-spacing: 2px;
}

header{
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #030f12;
  color: whitesmoke;
  width: 100%;
  max-height: max-content;
  min-height: 1em;
  text-transform: uppercase;
  z-index: 1;
}

.logo-section{
  width: 100%;
  margin-left: initial;
}

.logo-sec{
  margin-left: 0.8em;
  max-width: 35%;
  max-height: 100%;
}

.navigation-bar{
  width: 70%;
  flex-grow: 2%;
  margin-inline-end: initial;
}

a{
  color: gray;
  text-decoration: none;
}

header a,
footer a{
  color: whitesmoke;
  text-decoration: none;
}

ul{
  display: flex;
  flex-direction: row;
}

.nav-link:hover{
  color: RosyBrown;
  font-size: 30px;
}

.container{
  display: grid;
  grid-template-columns: 100%;
  padding: 0px;
  padding-top: 1em;
  width: 100%;
}

section{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding:5% 0;
}

section div{
  width: 50%;
  margin: 0 auto;
}

section h1{
  text-align: center;
}

.cover-section{
  margin-top: 0px;
  padding: 0% 0% 0% 0%;
}

h1{
  padding-bottom: 30px;
  padding-left: 0.5em;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 0.3em;
}

h2{
  font-size: 2.8vw;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.title-text{
  width: 40%;
  text-align: center;
  color: black;
  margin: auto;
  padding: 0 20px;
  animation: fade-in 5s;
}


@keyframes fade-in {
  0%{
        opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.box-feature{
  width: 60%;
  max-height: auto;
  animation: fade-in 5s;
}

.box-feature .cover-image{
  animation: ease-in 5s;
}
